<header class="headerContainer">
    <div class="leftSection">
        <h2 class="domain">
            <a href="/">CSV Store</a>

        </h2>
        <div class="headOpts">
            <a href="/about" target="_blank">
                <p>About CSV</p>
            </a>

            <a href="/file/dashboard">
                <p>All Files</p>
            </a>


        </div>
    </div>


</header>