<link rel="stylesheet" href="/css/about.css">
<h1>CSV Store - Your Convenient Data Repository</h1>

<div class="discription">
    <p id="address">
        Welcome to CSV Store, the ultimate web application that simplifies the storage and management of your CSV type
        files. Whether you're a business professional, a data enthusiast, or just someone looking to keep your data
        organized, CSV Store is the perfect solution for you.
    </p>
    <div>
        <h3>
            Store and Secure Your CSV Files:
        </h3>
        <p>
            CSV Store offers a secure and user-friendly platform to upload and store your CSV files. With our robust
            security measures, you can trust that your data will be safe and accessible only to authorized users.
        </p>
    </div>
    <div>
        <h3>
            Effortless File Upload:
        </h3>
        <p>
            Uploading your CSV files is a breeze with CSV Store. Simply drag and drop your files into the interface, and
            our application will take care of the rest. You can also use traditional file selection methods for added
            convenience.
        </p>
    </div>
    <div>
        <h3>
            Intuitive Data Visualization:
        </h3>
        <p>
            Say goodbye to manual data analysis! CSV Store allows you to visualize your CSV data in a user-friendly
            format.
        </p>
    </div>
    <div>
        <h3>
            Search and Filter with Ease:
        </h3>
        <p>
            Locating specific information within your CSV files is effortless with CSV Store's search and filtering
            capabilities. Our application allows you to perform advanced searches based on various parameters, making it
            a seamless process to find the exact data you need.
        </p>
    </div>
    <div>
        <h3>
            User-Friendly Interface:
        </h3>
        <p>
            CSV Store boasts a clean and intuitive interface, making it simple for both beginners and experienced users
            to navigate and utilize the application effectively. Our design focuses on providing a seamless experience,
            enhancing your productivity.
        </p>
    </div>
    <div>
        <h3>
            Join CSV Store Today:
        </h3>
        <p>
            Experience the convenience and efficiency of managing your CSV files with CSV Store. Sign up today and take
            advantage of our feature-rich application to store, analyze, and share your data seamlessly. Embrace the
            power of data organization with CSV Store!
        </p>
    </div>

</div>