<link rel="stylesheet" href="/css/home.css">

<div class="container">
    <form action="/file/upload" id="csvUploadForm" enctype="multipart/form-data" method="post">
        <h2>Upload CSV File</h2>
        <p>Select a CSV file to upload:</p>
        <div class="file-input">
            <div id="choose">
                <label for="csvFile">Choose File</label>
                <input type="file" id="csvFile" name="csvFile" accept=".csv" required>
            </div>
            <div>
                <label for="fileName">File Name:</label>
                <input type="text" id="fileName" name="fileName" required>
            </div>

        </div>
        <button type="submit">Upload</button>
    </form>
    <div id="fileInfoContainer"></div>
</div>

<script src="/js/home.js"></script>