body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.container h2 {
  text-align: center;
  margin-top: 0;
}

.container p {
  text-align: center;
  margin-bottom: 20px;
}

.file-input {
  display: flex;
  flex-flow: column;
  /* align-items: ; */
  justify-content: space-between;
  border: 2px dashed #ccc;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #f9f9f9;
}

label {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}
#choose {
  margin-bottom: 5%;
}

#choose label {
  margin-left: 35%;
}

.file-input div:nth-child(2) {
  display: flex;
  justify-content: space-evenly;
}
