html {
  font-family: sans-serif;
}

body {
  overflow: hidden;
}

.sheet {
  width: auto;
  height: 75vh;
  overflow: scroll;
  margin-left: 3px;
  border-radius: 10px 0 0 0;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(0, 0, 0);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

th {
  background-color: rgb(0, 0, 0);
  color: white;
}

thead tr {
  position: sticky;
  top: -1;
}

td {
  /* text-align: center; */
}

tr:nth-child(even) td {
  background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
  background-color: rgb(245, 245, 245);
}
.info {
  height: 8vh;
  width: 100%;
  /* border: 1px solid green; */
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-Section {
  /* height: 100%; */
  padding: 0px 2%;
  width: 30%;
  /* border: 1px solid red; */
}

.right-Section {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
  width: 30%;
  padding: 0px 3%;
  /* border: 1px solid red; */
}
#table-body .selected {
  background-color: rgb(241, 77, 77);
  color: white;
}
.head-bold {
  background-color: rgb(211, 211, 211) !important;
  font-weight: bold;
}
